header{
  display: flex;
  justify-content: space-between;
  background: rgb(90, 211, 156);
  height: 75px;
}

.l1 {
  display: flex;
  color: aliceblue;
  margin-top: 25px;
  margin-left: 15px;
  font-size: 1.3rem;
}

.l2 {
  display: flex;
  color: aliceblue;
  margin-top: 25px;
  margin-right: 15px;
  font-size: 1.3rem;
}

h2 {
  text-align: center;
  font-size: 1.7rem;
}