header{
  display: flex;
  justify-content: space-between;
  background: rgb(90, 211, 156);
  height: 75px;
}

.l1 {
  display: flex;
  color: aliceblue;
  margin-top: 25px;
  margin-left: 15px;
  font-size: 1.3rem;
}

.l2 {
  display: flex;
  color: aliceblue;
  margin-top: 25px;
  margin-right: 15px;
  font-size: 1.3rem;
}

h2 {
  text-align: center;
  font-size: 1.7rem;
}

ul {
  margin: 0; /*余白をリセット*/
  padding: 0; /*余白をリセット*/
  list-style-type: none; /*マーカーを削除*/
  border-top: solid 1px #000000; /*枠線・上*/
 }
 ul li {
  font-size: 1.8rem;
  padding: 10px 20px; /*余白*/
  background: #dfeaea; /*背景色*/
  border-bottom: solid 1px #000000; /*枠線・下*/
 }