header{
  display: flex;
  justify-content: space-between;
  background: rgb(90, 211, 156);
  height: 75px;
}

.l1 {
  display: flex;
  color: aliceblue;
  margin-top: 25px;
  margin-left: 15px;
  font-size: 1.3rem;
}

.l2 {
  display: flex;
  color: aliceblue;
  margin-top: 25px;
  margin-right: 15px;
  font-size: 1.3rem;
}

h2 {
  text-align: center;
  font-size: 1.7rem;
}

ul {
  margin: 0; 
  padding: 0; 
  list-style-type: none; 
  border-top: solid 1px #000000; 
 }

 ul li {
  font-size: 1.8rem;
  padding: 10px 20px; 
  background: #dfeaea; 
  border-bottom: solid 1px #000000; 
 }

 .thread-input-container {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin: auto;
  width: 600px; 
}

.create-new-thread input {
  flex-grow: 1; 
  margin-right: 10px; 
  padding: 15px;
}


 .create-new-thread a {
  font-size: 1.2rem;;
 }

 .create-new-thread button {
  color: #ffffff;
  font-size: 1.3rem;
  text-align: center;
  display: flex;
  background: rgb(90, 211, 156);
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
 }

 .create-new-content input {
  flex-grow: 1; 
  margin-right: 10px; 
  padding: 15px;
}

.create-new-content a {
  font-size: 1.2rem;;
 }

 .create-new-content button {
  color: #ffffff;
  font-size: 1.3rem;
  text-align: center;
  display: flex;
  background: rgb(90, 211, 156);
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
 }